

#main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  max-width: 500px;
}

figure {
  display: flex;
  flex-direction: column;
  max-width: 230px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}